<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jgaug.descubracuritiba">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Descubra Curitiba"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".Activities.FirstScreen"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.CreateItinerary"
            android:label="@string/create_itinerary"
            android:parentActivityName=".Activities.FirstScreen"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".Activities.Itinerary"
            android:label="@string/title_activity_itinerary"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".Activities.PlaceDetails"
            android:label="@string/title_activity_details"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".Activities.PlacesList"
            android:label="Locais"
            android:parentActivityName=".Activities.FirstScreen">
        </activity>
        <activity
            android:name=".Activities.DailyForecast"
            android:label="@string/title_activity_daily_forecast"
            android:screenOrientation="sensorPortrait">
        </activity>
    </application>
</manifest>
