<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.jgaug.descubracuritiba">

    <application
        android:label="Descubra Curitiba"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FirstScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateItinerary"
            android:label="@string/create_itinerary"
            android:parentActivityName=".FirstScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstScreen"/>
        </activity>
        <activity
            android:name=".Itinerary"
            android:label="@string/title_activity_itinerary"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>